body {
    background: #444;
}


body {
    width: 90vmin;
    height: 90vmin;
    margin: 0;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

a {
    height: 50%;
    width: 50%;
    font-size: 40vmin;
    color: white;
    text-decoration: none;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
}


html {
    height: 100vh;
    display: flex;
}
